@media screen and (min-width: 1680px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }

  .nav-menu {
    display: flex;
    gap: 6em;
    list-style: none;
  }

  .hero-section {
    margin-bottom: 5em;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .wrap {
    font-size: 2em;
  }

  .hit {
    display: none;
  }

  .hero::after {
    content: " The world only listen, when idea speak value to  change the narratives of the comtemporary society. ";
    display: block;
    text-align: center;
    font-size: 2em;
    margin-top: 4em;
    line-height: 1.7;
  }

  .mic {
    display: block;
    width: 35%;
    position: absolute;
    top: 20%;
    right: 42%;
  }

  .text-section {
    width: 43%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .tag--header {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2em;
  }

  .img-section {
    padding: 0 9.6em 0;
    margin-block: 11em;
  }

  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 45fr);
  }

  .img-hero:last-child {
    grid-row: -3/-1;
  }
  .pix {
    border-radius: 50%;
  }

  .live {
    margin-left: 10em;
  }
  .add {
    top: 82%;
    right: 42%;
  }

  .pladcard {
    top: 27%;
  }

  .option {
    width: 80%;
    font-size: 1.4em;
  }

  .followers {
    font-size: 1.5em;
  }
  .sub {
    background-color: violet;
  }

  .Register{ font-size: 1.2em;
    padding: 1.2em 4.2em;
  }
  

.idea-container{
  justify-content: end;
}

.left{
  margin-bottom: 1.98em;
}
  .line{
    height: 8em;
  }

  .ideal-right{
    padding-right: 33em;
  }
  .right{
    font-size: 1.53em;
    margin-bottom: 2em;
  }

  .section-header{
    padding: 0 4.6em 0;
  }
  .profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6em;
  }

  .profile-img{
    margin-bottom: 4em;
  }
  .authors{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1em;

  }
  .comment{
    font-size: 1.3em;
    width: 76%;
  }
  .audience{
    width: 77%;
    margin-block: 4em;
  }

  .auto{
    margin-left: -14.4em;
  }

  .sec-profile{
    margin-bottom: 2em;
  }
  
  .sec-profile img{
    width: 35%;
  }
  
  .sec-text{
    font-size: 1.4em;
  }
  
  .action{
    width: 63%;
  }
  
  .sec{
    display: grid;
  }

  .sec-profile:last-child{
display: none;
  }

  .table-section{
    font-size: 1.4em;
    padding: 0 4.4em 0;
  }
  .dp {
    margin-bottom: 4em;
  }

  .dp,
  .display {
    position: relative;
  }

  .display {
    font-size: 1.4em;
    position: absolute;
    top: 9%;
    left: 32%;
  }

  .dp-info {
    font-size: 1.4em;
    position: absolute;
    top: 54%;
    left: 28%;
  }

  .dp-author {
    margin-bottom: 1em;
  }
  .dp-list {
    display: flex;
    gap: 2em;
  }

  .handle {
    margin-bottom: 2em;
  }
 
}

@media screen and (max-width: 1679px) and (min-width: 1440px) {


  .header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  .nav-menu {
    display: flex;
    gap: 6em;
    list-style: none;
  }

  .hero-section {
    margin-bottom: 5em;
  }
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.hit{
  width: 55%;
  display: block;
}
  .wrap {
    font-size: 2em;
  }

.mic{
  display: none;
}

  .text-section {
    width: 43%;
    display: block;
    position: absolute;
    bottom: -30%;
    right: 20%;
  }

  .tag--header {
    text-align: center;
    font-weight: 500;
    margin-bottom: 2em;
  }

  .img-section {
    padding: 0 9.6em 0;
    margin-block: 11em;
  
  }

  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 45fr);
  }

  .img-hero:last-child {
    grid-row: -3/-1;
  }
  .pix {
    border-radius: 0 25%;
  }

  .live {
    margin-left: 10em;
  }
  .add {
    top: 82%;
    right: 42%;
  }

  .pladcard {
    top: 27%;
  }

  .option {
    width: 80%;
    font-size: 1.4em;
  }

  .followers {
    font-size: 1.5em;
  }
  .sub {
    background-color: violet;
  }

  .Register{ font-size: 1.2em;
    padding: 1.2em 4.2em;
  }
  

.idea-container{
  justify-content: end;
}

.left{
  margin-bottom: 1.98em;
}
  .line{
    height: 8em;
  }

  .ideal-right{
    padding-right: 33em;
  }
  .right{
    font-size: 1.53em;
    margin-bottom: 2em;
  }

  .section-header{
    padding: 0 4.6em 0;
  }
  .profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6em;
  }

  .profile-img{
    margin-bottom: 4em;
  }
  .authors{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1em;

  }
  .comment{
    font-size: 1.3em;
    width: 76%;
  }
  .audience{
    width: 77%;
    margin-block: 4em;
  }

  .auto{
    margin-left: -14.4em;
  }

  .sec-profile{
    margin-bottom: 2em;
  }
  
  .sec-profile img{
    border-radius: 50%;
    width: 35%;
  }

  .sec-text{
    font-size: 1.4em;
  }
  
  .action{
    width: 63%;
  }
  
  .sec{
    display: grid;
  }

  .sec-profile:last-child{
display: none;
  }

  .table-section{
    font-size: 1.4em;
    padding: 0 4.4em 0;
  }
  .dp {
    margin-bottom: 4em;
  }

  .dp,
  .display {
    position: relative;
  }

  .display {
    font-size: 1.4em;
    position: absolute;
    top: 9%;
    left: 32%;
  }

  .dp-info {
    font-size: 1.4em;
    position: absolute;
    top: 54%;
    left: 28%;
  }

  .dp-author {
    margin-bottom: 1em;
  }
  .dp-list {
    display: flex;
    gap: 2em;
  }

  .handle {
    margin-bottom: 2em;
  }
 
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }

  .nav-menu {
    display: flex;
    gap: 6em;
    list-style: none;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 6em;
  }

  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 6em;
  }

  .img-section {
    padding: 0 6.6em 0;
  }

  .section-header {
    padding: 0 6.6em 0;
  }
  .profile {
    display: grid;
    grid-template-columns: repeat(2, 55fr);
    gap: 4em;
  }

  .comment {
    width: 80%;
    font-weight: 500;
  }

  .audience {
    width: 100%;
    margin-block: 7em;
  }

  .auto {
    margin-left: -16.2em;
  }

  .profile-img {
    margin-bottom: 2em;
  }

  .sec-text {
    left: 45%;
  }

  .sec-profile {
    margin-bottom: 3.4em;
  }
  .dp {
    margin-bottom: 4em;
  }

  .dp,
  .display {
    position: relative;
  }

  .display {
    position: absolute;
    top: 9%;
    left: 32%;
  }

  .dp-info {
    position: absolute;
    top: 54%;
    left: 28%;
  }

  .dp-author {
    margin-bottom: 1em;
  }
  .dp-list {
    display: flex;
    gap: 2em;
  }

  .handle {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 4em;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    gap: 4em;
    list-style: none;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 6em;
  }

  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 6em;
  }

  .img-section {
    padding: 0 4.6em 0;
  }

  .idea {
    margin-bottom: 8em;
  }

  .pix {
    width: 100%;
  }

  .live {
    margin-left: 13em;
    width: 16%;
  }

  .pladcard {
    bottom: 27%;
  }

  .option {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.76em;
  }

  .followers {
    margin: 0;
  }

  .icon {
    margin-top: 1em;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 45fr);
    gap: 3em;
  }

  .comment {
    width: 80%;
    font-weight: 500;
  }

  .audience {
    width: 70%;
    margin-block: 7em;
  }

  .profile-img {
    margin-bottom: 1em;
  }

  .sec-text {
    left: 50%;
  }

  .sec-profile {
    margin-bottom: 3.1em;
  }

  .dp {
    margin-bottom: 4em;
  }

  .dp,
  .display {
    position: relative;
  }

  .display {
    position: absolute;
    top: 5%;
    left: 32%;
  }

  .dp-info {
    position: absolute;
    top: 46%;
    left: 30%;
  }

  .dp-author {
    margin-bottom: 1em;
  }
  .dp-list {
    display: flex;
    gap: 2em;
  }

  .handle {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px ) {
  .html {
    font-size: 50%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin-bottom: 4em;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    gap: 4em;
    list-style: none;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 6em;
  }

  .hero img {
    width: 100%;
    margin-bottom: 4em;
  }

  .primary-content {
    margin: auto;
  }

  .mic {
    display: none;
  }

  .wrap {
    width: 50%;
    margin: auto;
  }

  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 6em;
  }

  .img-section {
    padding: 0;
  }
  .nest {
    text-align: center;
  }

  .idea {
    margin-bottom: 8em;
  }

  .pix {
    width: 100%;
  }

  .live {
    margin-left: 9em;
    width: 16%;
  }

  .pladcard {
    bottom: 27%;
  }

  .option {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.76em;
  }

  .followers {
    margin: 0;
  }

  .icon {
    margin-top: 1em;
  }

  .period {
    font-size: 1em;
  }
  .num {
    font-size: 0.87em;
  }

  .idea-container {
    width: 100%;
    justify-content: space-evenly;
  }

  .profile {
    display: grid;
    grid-template-columns: repeat(2, 45fr);
    gap: 3em;
  }

  .profile-img {
    margin-bottom: 2em;
  }
  .pixz {
    width: 100%;
  }

  .profile-text {
    margin-left: 0;
    top: 2%;
  }

  .null {
    display: none;
  }

  .head-tag {
    text-align: end;
    text-transform: uppercase;
  }
  .authors {
    text-align: center;
    margin-bottom: 0.67em;
  }

  .comment {
    font-size: 0.89em;
    width: 100%;
    font-weight: 400;
  }

  .audience {
    width: 100%;
    margin-block: 3em;
  }

  .auto {
    margin-left: -9.6em;
  }
  .sub {
    display: block;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
  }

  .ideal-right {
    padding-right: 12em;
  }

  .right {
    padding-right: 18em;
  }

  .sec {
    display: grid;
    grid-row-end: none;
  }

  .sec-profile:last-child {
    display: none;
  }

  .sec-text {
    left: 55%;
  }

  .sec-profile {
    margin-bottom: 2em;
  }

  .dp {
    padding: 0;
    margin-bottom: 4em;
  }

  .png-1 {
    display: block;
    margin: auto;
    padding-bottom: 1em;
  }

  .display {
    text-align: center;
  }

  .dp-author {
    margin-bottom: 1em;
  }

  .dp-list {
    display: flex;
    gap: 1em;
    margin-left: 11em;
  }

  .handle {
    margin-bottom: 2em;
  }

  .btn-container {
    text-align: center;
  }

  input,
  textarea {
    width: 80%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
 
  .header {
    margin-bottom: 6em;
  }

  .nav-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transform: translatey(100%);
    transition: 0.9s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    pointer-events: none;
    opacity: 0;
  }

  .btn-nav {
    display: block;
    font-size: 1.5em;
  }

  .nav-header,
  .svg-2 {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .svg-1 {
    background-color: rgb(249, 218, 218);
    display: block;
  }

  .svg-2 {
    display: none;
  }

  .hero-section {
    margin-bottom: 8em;
  }
  .text-section {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 80%;
    left: 7%;
  }

  .hit {
    width: 100%;
    margin-block-start: 12em;
  }

  .mic {
    display: none;
  }

  .tag--header {
    text-align: center;
    font-style: italic;
  }

  .img-section {
    margin-bottom: 9em;
  }

  .section-container {
    width: 100%;
    padding: 0 1.2em 0;
    display: flex;
    gap: 0.76em;
  }

  .pix {
    width: 100%;
  }

  .live {
    margin-left: 10em;
  }

  .pladcard {
    top: 18%;
  }
  .option {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.8em;
  }

  .followers {
    margin-top: 0;
    font-size: 0.89em;
  }
  .member,
  .authors {
    font-size: 0.67em;
  }
  .add {
    bottom: 2%;
    right: 0;
  }

  .sub {
    font-size: 1em;
    padding: 0.3em 2.1em;
  }

  .idea {
    margin-bottom: 14em;
  }

  .idea-container {
    width: 100%;
    align-items: center;
  }

  .line {
    height: 6em;
  }
  .rule {
    width: 40%;
  }

  .ideal-right {
    width: 50%;
    padding-right: 3em;
  }

  .tag {
    font-size: 1.45em;
    width: 100%;
    padding-left: 0;
  }

  .right {
    font-size: 1.4em;
    padding-right: 2em;
    margin-bottom: 1.4em;
  }

  .get-hero {
    right: 1%;
  }

  .Register {
    font-size: 1em;
    padding: 0.76em 2em;
    border-radius: 7%;
  }

  .section-header {
    margin-bottom: 8em;
  }

  .pixz {
    width: 80%;
  }

  .comment {
    line-height: 1.4;
    font-size: 1em;
    width: 78%;
  }

  .audience {
    width: 79%;
    margin-block: 3em;
  }

  .auto {
    margin-left: -12.6em;
  }
  .head-tag {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
  }

  .profile-container {
    display: none;
  }

  .tags {
    display: none;
  }
  .sec {
    display: grid;
    grid-template-columns: repeat(2, 45fr);
    gap: 3em;
  }

  .sec-profile img {
    display: block;
    width: 100%;
  }
  .sec-text {
    position: relative;
    left: 0;
  }
  .sec-header {
    font-size: 1.4em;
  }

  .png-1 {
    display: block;
    margin: auto;
  }

  .display {
    text-align: center;
  }
  .dp-info {
    display: flex;
    text-align: center;
    gap: 4em;
  }

  .table-section {
    margin-bottom: 12em;
  }
  .btn-container {
    margin: 2.4em 0;
  }

  .btn-text,
  .text--btn,
  .host {
    font-size: 2em;
    text-align: center;
    color: #000;
  }

  .host {
    padding: 0 2.2em 0;
  }

  .btn {
    text-align: center;
  }

  .host-author {
    width: 100%;
    display: flex;
    gap: 1em;
  }

  .btn-2 {
    width: 52%;
  }

  input,
  textarea {
    width: 76%;
  }

  .footer-text {
    margin-bottom: 5em;
  }
}

@media screen and (max-width: 479px) {
  .html {
    font-size: 50%;
  }

  .header {
    margin-bottom: 5em;
  }

  .nav-menu {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    transform: translatey(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
  }

  .hero {
    margin-bottom: 4em;
  }

  .hit,
  .mic {
    display: none;
  }

  .tag--header {
    text-align: center;
  }

  .head-tag {
    text-align: center;
    margin-top: 1em;
  }

  .followers {
    margin-bottom: 1.2em;
  }

  .primary-content {
    width: 100%;
  }

  .text-section {
    margin-bottom: 4em;
  }

  .idea-container {
    justify-content: space-around;
  }
  .rule {
    margin-right: 6em;
  }

  .ideal-right {
    padding-right: 8em;
  }

  .right {
    padding-right: 8em;
  }

  .left {
    padding-left: 3em;
  }

  .tag {
    font-size: 1em;
    padding-left: 4.8em;
  }
  .get-hero {
    right: 4%;
  }

  .pix {
    width: 100%;
    display: block;
    padding: 0 2.2em 0;
    margin-bottom: 2em;
  }

  .add {
    right: 8%;
  }

  .pladcard {
    width: 50%;
    left: 20%;
    bottom: 15%;
  }

  .option {
    width: 100%;
    margin-bottom: 1.2em;
  }

  .pixz {
    display: block;
    width: 95%;
    margin: auto;
    margin-bottom: 2em;
  }

  .profile-text {
    margin-left: 0.6em;
    top: 1%;
    left: 10%;
    font-size: 0.86em;
  }

  .authors {
    margin-bottom: 0.5em;
  }

  .comment {
    font-size: 1em;
    width: 90%;
    line-height: 1.2;
  }

  .live {
    margin-left: 19em;
  }
  .auto {
    margin-left: -7.2em;
  }

  .audience {
    width: 95%;
    margin-block: 4em;
  }

  .sec-profile {
    padding: 0 2em 0;
    margin-bottom: 2em;
  }

  .num {
    font-size: 0.99em;
  }

  .action {
    margin-top: 0.86em;
  }

  .display {
    text-align: center;
  }

  table,
  .event {
    display: none;
  }

  .sec-text {
    font-size: 0.96em;
    left: 57%;
  }

  .btn-container {
    margin: 2.4em 0;
  }

  .btn-text,
  .text--btn,
  .host {
    text-align: center;
    color: #000;
  }

  .host {
    padding: 0 2.2em 0;
  }

  .btn {
    text-align: center;
  }

  .host-author {
    width: 96%;
    display: flex;
    gap: 2em;
  }

  .btn-2 {
    width: 100%;
  }

  input,
  textarea {
    width: 76%;
  }

  .footer-text {
    margin-bottom: 5em;
  }
}
